<div class="footer p-5">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card1 d-flex justify-content-center align-items-center flex-column">
                    <h2>LOCATION</h2>
                    <P>2215 John Daniel Drive</P>
                    <p>Clark, MO 65243</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-12  col-lg-4">
                <div class="card2 d-flex justify-content-center align-items-center flex-column">
                    <h2>AROUND THE WEB</h2>
                    <div class="icons d-flex justify-content-evenly w-50">
                        <div class="facebook-icon d-flex justify-content-center align-items-center"><i class="fa-brands fa-facebook-f"></i></div>
                        <div class="twitter-icon d-flex justify-content-center align-items-center"><i class="fa-brands fa-twitter"></i></div>
                        <div class="linkedin-icon d-flex justify-content-center align-items-center"><i class="fa-brands fa-linkedin-in"></i></div>
                        <div class="browser-icon d-flex justify-content-center align-items-center"><i class="fa-solid fa-globe"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12  col-lg-4">
                <div class="card3 d-flex flex-column justify-content-center align-items-center">
                    <h2>ABOUT FREELANCER</h2>
                    <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyrights p-3 text-center">
    <p class="m-0">Copyright © Your Website 2021</p>
</div>